ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
body {
  margin-left: 4em;
  margin-right: 4em;
}
main {
  background-color: #04011c;
  padding: 0 140px 0 140px;
}
button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header {
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_list_information {
  display: flex;
  flex-direction: row;
  gap: 3em;
}
.header_button {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 674px;
  padding-top: 52px;
}
.banner_info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_title_img {
  z-index: 10;
}
.banner_text {
  z-index: 6;
  font-size: 24px;
  color: #ffffff;
}
.banner_ellipse_img {
  z-index: 4;
  position: absolute;
  top: -450px;
  left: -500px;
}
.banner_title {
  z-index: 6;
  font-size: 64px;
  font-weight: 700;
  color: white;
}
.banner_title_color {
  color: transparent;
  background-image: linear-gradient(90deg, #0500fa, #e01e5a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_tree_img {
  z-index: 6;
  position: absolute;
  top: 460px;
  left: 525px;
}
.banner_space_img {
  z-index: 6;
  position: absolute;
  top: 340px;
  left: 580px;
}
.banner_rhombus1_img {
  z-index: 6;
  position: absolute;
  top: 540px;
  left: 380px;
}
.banner_rhombus2_img {
  z-index: 6;
  position: absolute;
  top: 540px;
  left: 380px;
}
.banner_button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.learn_more {
  z-index: 5;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
}
.learn_more_text {
  color: white;
}
.banner_process1_img {
  z-index: 6;
  position: absolute;
  top: 780px;
  left: 900px;
}
.rates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0 80px 0;
}
.rates_text {
  font-size: 20px;
  font-weight: 300;
  color: white;
}
.favorites {
  z-index: 10;
  position: relative;
  height: 579px;
  margin: 132px 0 132px 0;
}
.favorites_title {
  text-align: center;
  margin-bottom: 60px;
}
.favorites_block_items {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner_ellipse1_img {
  z-index: 4;
  position: absolute;
  top: -400px;
  left: 1100px;
}
.favorites_items_card4 {
  z-index: 6;
}
.collection_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.collection_block_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  gap: 20px;
}
.button7_collection {
  margin-top: 60px;
  margin: 60px auto;
  display: block;
}
.trend {
  position: relative;
}
.trend_title {
  margin: 60px auto;
  display: block;
}
.trend_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trend_process2_img {
  margin: 60px auto;
  display: block;
}
.trend_card8_img {
  z-index: 6;
}
.trend_img_ellipse3 {
  z-index: 4;
  position: absolute;
  top: -450px;
  right: -600px;
}
.started_title {
  margin: 60px auto;
  display: block;
}
.started_block {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.started_block2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.started_midi1_img {
  position: absolute;
  top: 300px;
  left: 30px;
}
